@import "~vars.scss";

.wrap{
  padding: $basic-measure;

  .select-outer{
    padding-bottom: $basic-measure;

    .form{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      .line{
        padding-right: $basic-measure * 2;
        padding-bottom: $basic-measure;


        .mat-input-container{
          width: 250px;
        }
      }
    }
  }

  .charts-outer{
    overflow: auto;
  }
}

