@import "~vars.scss";

.wrap{
  padding: $basic-measure;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;

  .select-outer{
    width: 300px;
    padding-bottom: $basic-measure * 2;

    .mat-input-container{
      width: 100%;
    }
  }

  .charts-outer{
    overflow: auto;
  }
}

