<div class="wrap">
  <section class="select-outer">
    <mat-form-field>
      <mat-select placeholder="Выберите пульс" [(ngModel)]="displayField" (ngModelChange)="selectField()">
        <mat-option *ngFor="let f of selectFields" [value]="f.value">
          {{ f.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section class="charts-outer">
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
  </section>
</div>