@import "~vars.scss";

.mat-drawer-container{
  background: #fff !important;
}

.side-nav-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);

  .mat-sidenav-content{
    overflow: hidden;
  }

  .header{
    height: 60px;
    background: $basic-color;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .in{
      height: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      color: #fff;

      &.left{
        width: 60px;
        cursor: pointer;
      }

      &.center{
        width: calc(100% - 120px);
        justify-content: flex-start;
        color: #fff;

        .title{
          padding: 10px 0;
          overflow: hidden;

          &.offset{
            padding-left: 10px;
          }
        }
      }

      &.right{
        width: 60px;
      }
    }
  }

  .sidenav-content {
    height: calc(100% - 60px);
    overflow: hidden;
    overflow-y: auto;
  }

  .left-sidenav {
    min-width: 200px;
    //position: relative;
    //z-index: 9999;

    .nav{
      overflow: hidden;

      .link{
        padding: 20px;
        border-bottom: 1px solid #ccc;
        color: blue;
        display: block;
        width: 100%;
        text-decoration: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        &.active{
          background: #ccc;
        }

        .icon{
          color: blue;
        }

        .title{
          margin-left: 10px;
        }
      }
    }

    .copyrights{
      position: absolute;
      bottom: 0;
      left: 0;
      //width: 100%;
      height: 40px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;

      >div{
        margin-right: 6px;
        font-size: 0.8em;
        font-weight: bold;
      }
    }
  }

}




