<mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav class="left-sidenav" mode="over">
    <div class="nav" (click)="closeSidenav(sidenav)">
      <a class="link" [routerLink]="['/input']" routerLinkActive="active">
        <span class="title">Ввод данных</span>
      </a>

      <a class="link" [routerLink]="['/output']" routerLinkActive="active">
        <span class="title">Вывод данных</span>
      </a>
    </div>

    <div class="copyrights">
      <div class="author">© Sergey Kalinin</div>
      <div class="created-date">2018</div>
    </div>
  </mat-sidenav>

  <div class="header">
    <div class="in left" (click)="openSidenav(sidenav)">
      <i class="material-icons">menu</i>
    </div>

    <div class="in center">
      <div class="title">{{ headerTitle }}</div>
    </div>

    <div class="in right"></div>
  </div>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

